@import '~fullcalendar/dist/fullcalendar.css';
@import '~flatpickr/dist/flatpickr.css';

@import url('https://fonts.googleapis.com/css?family=Hind');

// Variables
// Body
$body-bg: #f5f8fa;

//$family-sans-serif: "Open Sans", sans-serif;
$family-sans-serif: "Hind",
sans-serif;
$body-size: 16px;
$radius: 0;

// Bootstrap
@import "~bulma";
@import "spacing";

// Calendar styles
.fc-not-start.fc-not-end {
    width: 100% !important;
}

.fc-event {
    border-radius: 0 !important;
}