<template>
    <div class="notification" :class="classes" role="alert" v-show="show">
        <button class="delete" @click="close"></button>
        <strong>Success!</strong> {{ body }}
    </div>
</template>

<script>
export default {
    props: [
        'message'
    ],

    data() {
        return {
            body: this.message,
            level: 'success',
            position: 'topright',
            show: false
        }
    },

    created() {
        if (this.message) {
            this.flash();
        }

        Event.listen(
            'flash', data => this.flash(data)
        );
    },

    methods: {
        flash(data) {
            if (data) {
                this.body = data.message;
                this.level = data.level;
                this.position = data.position;
            }

            this.show = true;

            this.hide();
        },

        hide() {
            setTimeout(() => {
                this.show = false;
            }, 3000);
        },

        close() {
            this.show = false;
        }
    },

    computed: {
        classes() {
            return 'is-' + this.level + ' ' + this.position;
        }
    }
}
</script>

<style>
.bottomleft {
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 999;
}

.bottomright {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
}

.topleft {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 999;
}

.topright {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 999;
}
</style>
