<template>
  <div class="event modal is-active" v-if="show">
    <div class="modal-background"></div>

    <div class="modal-card" v-if="delete_confirmation">
      <header class="modal-card-head" v-bind:style="{ backgroundColor: event.color }">
        <p class="modal-card-title">{{ event.title }}</p>
      </header>
      <section class="modal-card-body">
        <p class="has-text-centered">Are you sure you want to delete this appointment?</p>
        <div class="buttons is-centered m-t-sm">
          <button class="button is-warning" @click="cancelDeleteEvent">No</button>
          <button class="button is-danger" @click="deleteEvent">delete</button>
        </div>

      </section>

    </div>

    <div class="modal-card" v-else>
      <header class="modal-card-head" v-bind:style="{ backgroundColor: event.color }">
        <p class="modal-card-title">{{ event.title }}</p>

        <div class="trash-button" @click="confirmDelete">
          <button class="button is-rounded">
            <span class="icon">
              <i class="fas fa-trash"></i>
            </span>
          </button>
        </div>

        <div class="close-button" @click="close">
          <button class="button is-rounded">
            <span class="icon">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </div>

      </header>

      <section class="modal-card-body">
        <div class="media">
          <figure class="media-left">
            <span class="icon is-left">
              <i class="fas fa-clock"></i>
            </span>
          </figure>
          <div class="media-content has-text-info">
            {{ event.start.utc().format('MMMM D, YYYY - h:mm a') }} [ {{ dur }} ]
          </div>
        </div>

        <div class="media">
          <figure class="media-left">
            <span class="icon is-left">
              <i class="fas fa-user-md"></i>
            </span>
          </figure>
          <div class="media-content has-text-info">
            {{ event.user }}
          </div>
        </div>

        <div class="media">
          <figure class="media-left">
            <span class="icon is-left">
              <i class="fas fa-phone"></i>
            </span>
          </figure>
          <div class="media-content has-text-info description" v-html="event.description">
          </div>
        </div>

        <!-- Content ... -->
      </section>

      <div class="edit-button"> <!-- TODO: Add Edit Functionality -->
        <button class="button is-rounded" :style="{ backgroundColor: event.color, borderColor: event.color }" @click="edit">
          <span class="icons">
            <i class="fas fa-pen"></i>
          </span>
        </button>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  props: [
  ],

  data() {
    return {
      event: {},
      show: false,
      delete_confirmation: false,
      baseURL: window.App.baseURL,
    }
  },
  created() {
    Event.listen('showEvent', (event) => {
      this.eventView(event)
    })
  },
  methods: {
    eventView(event) {
      if(event) {
        this.event = event
      }
      this.show = true
    },
    close() {
      this.show = false
    },
    confirmDelete() {
      this.delete_confirmation = true
    },
    cancelDeleteEvent() {
      this.delete_confirmation = false
    },
    deleteEvent() {
      var url = `${this.baseURL}/calendar/${window.App.user_id}/appointment/delete`;
      axios.post(url, { id: this.event.id })
        .then((response) => {
          $('#calendar').fullCalendar('removeEvents', this.event.id)
          flash(response.data.message)
      })
      this.delete_confirmation = false
      this.show = false
    },
    edit() {
      Event.fire('editEvent', this.event)
      this.show = false
    }
  },
  computed: {
    dur() {
      return moment.duration(this.event.duration, "minutes").humanize()
    }
  }
}
</script>

<style lang="scss" scoped>
.event.modal .modal-card-head {
  border-radius: 0px;
  height: 100px;
}

.event.modal .modal-card-title {
  position: relative;
  top: 10px;
  margin-left: 30px;
  padding-left: 30px;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  color: #eee;
}

.event.modal .edit-button {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  left: 10px;
  top: 80px;
  z-index: 9999;
}

.event.modal .edit-button .button {
  height: 40px;
  width: 40px;
  color: #eee;
  filter: brightness(103%);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}

.event.modal .trash-button {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  right: 50px;
  top: 10px;
  z-index: 9999;
}

.event.modal .trash-button .button {
  height: 30px;
  width: 30px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  }

.event.modal .trash-button .icon {
  font-size: 0.75em;
}


.event.modal .close-button {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9999;
}

.event.modal .close-button .button {
  height: 30px;
  width: 30px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  }

.event.modal .close-button .icon {
  font-size: 0.75em;
}

</style>
