<template>
  <section class="color-picker">
    <button
      v-for="color in colors"
      :key="color.id"
      class="button is-rounded is-small"
      :style="{ backgroundColor: buttonColor(color) }"
      @click="colorPicked(color)"
    ></button>
  </section>
</template>

<script>
export default {
  props: ['colors'],
  methods: {
    colorPicked(color) {
      Event.fire('colorPicked', {
        colorName: color.colorName,
        colorString: color.colorString,
        colorId: color.colorId
        })
    },
    buttonColor(color) {
      return color.colorString;
    }
  },
  // NOTE: This is just testing currently.
  created() {
    console.log(this.colors)
  },
}
</script>

<style scoped>
.color-picker {
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 10px;
  background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
  z-index: 10;
  width: 70px;
}

.color-picker-button {
  height: 30px;
  width: 30px;
  border: 0;
  padding: 0;
}

.button.is-small {
  height: 25px;
  width: 25px;
  padding: 0;
  margin-bottom: 5px;
}

</style>
