<template>
    <div class="modal is-active" id="createFullDayModal" v-if="show">
        <div class="modal-background" @click="close"></div>
        <div class="modal-card">
            <header class="modal-card-head" :style="{ backgroundColor: appointment.colorString }">
                <p class="modal-card-title">New Full Day Event</p>
                <button class="button is-rounded m-r-lg color-picker-button" :style="{ backgroundColor: colors[7].colorString }" @click="startColoring"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label" for="patientName">Type of absense:</label>
                    <div class="control">
                        <div class="select is-fullwidth" @click="clearTypeSelect">
                            <selectize v-model="appointment.type" :settings="type_picker_settings" placeholder="select reason for absense...">
                                <option v-for="type in types" v-bind:key="type.id" :value="type.id">{{ type.name }}</option>
                            </selectize>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Additional Details: (optional)</label>
                    <div class="control">
                    <textarea v-model="appointment.additional_details" class="textarea" placeholder="Any additional details..."></textarea>
                    </div>
                </div>

                <div class="buttons is-pulled-right">
                    <div class="button is-warning" @click="close">Cancel</div>
                    <div class="button is-primary" @click="save">Save</div>
                </div>
            </section>
            <event-color-picker v-if="coloring" :colors="colors"></event-color-picker>

        </div>
    </div>
</template>

<script>
export default {
    props: ['colors'],
    data() {
        return {
            baseURL: window.App.baseURL,
            url: null,
            date_picker_settings: {
                altFormat: 'F j, Y',
                altInput: true,
                dateFormat: 'Y-m-d'
            },
            appointment: {
                all_day: 1,
                startDate: '',
                type: 'vacation',
                startDate: '',
                start: '',
                end: '',
                additional_details: null,
            },
            types: [
                { id: 'vacation', name: "Vacation" },
                { id: 'stat_day', name: "Stat Day" }
            ],
            type_picker_settings: {
                selectOnTab: true,
                create: false,
                maxItems: '1'
            },
            show: false,
            coloring: false,
        }
    },
    created() {
        Event.listen('newAllDayEvent', data => this.setModal(data))
        Event.listen('colorPicked', data => this.changeColor(data))
        this.appointment.colorId = this.colors[8].colorId
        this.appointment.colorName = this.colors[8].colorName
        this.appointment.colorString = this.colors[8].colorString
    },
    methods: {
        setModal(data) {
            if(data) {
                this.appointment.startDate = data.startDate
                this.appointment.user_id = data.user_id
            }
            this.resetModal()
            this.show = true
        },
        resetModal() {
            this.appointment.colorId = this.colors[8].colorId
            this.appointment.colorName = this.colors[8].colorName
            this.appointment.colorString = this.colors[8].colorString
            this.appointment.all_day = 1
            this.appointment.type = 'vacation'
            this.appointment.additional_details = null
            this.appointment.start = null
            this.appointment.end = null
        },
        clearTypeSelect() {
            this.appointment.type = 'vacation'
        },
        close() {
            this.show = false
        },
        startColoring() {
            this.coloring = ! this.coloring
        },
        changeColor(data) {
            this.appointment.colorName = data.colorName
            this.appointment.colorString = data.colorString
            this.appointment.colorId = data.colorId
            this.coloring = false
        },
        save() {
            this.url = `${this.baseURL}/calendar/${this.appointment.user_id}/appointment/create`

            this.appointment.start = moment.utc(this.appointment.startDate).format()
            this.appointment.end = moment.utc(this.appointment.startDate).add(1, 'day').format()

            $('#calendar-pbcc_calendar').fullCalendar('renderEvent', {
                title: this.types.find((element) => { return element.id == this.appointment.type }).name,
                start: this.appointment.start,
                end: this.appointment.end,
                all_day: 1,
                color: this.appointment.colorString,
            });

            axios.post(this.url, this.appointment)
                .then((response) => {
                    $('#calendar').fullCalendar('unselect')
                    $('#calendar').fullCalendar('refetchEvents')
                })

            this.clearTypeSelect()
            this.show = false
        }
    }
}
</script>

<style scoped>

.modal-card-head {
    border-radius: 0;
}

.modal-card-title {
    color: #eee;
    font-weight: bold;
}

.color-picker-button {
  height: 30px;
  width: 30px;
  border: 0;
  padding: 0;
}


</style>
