<template>
  <div class="modal is-active" id="createEventModal" v-if="show">
    <div class="modal-background" @click="close"></div>
    <div class="modal-card">
        <header class="modal-card-head" :style="{ backgroundColor: appointment.colorString }">
            <p class="modal-card-title">New Appointment</p>
            <button class="button is-rounded m-r-lg color-picker-button" :style="{ backgroundColor: colors[7].colorString }" @click="startColoring"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label" for="patientName">Appointment Title</label>
            <div class="control">
				<input type="text" class="input" v-model="appointment.title">
            </div>
          </div>

          <div class="field has-addons">
            <div class="control has-icons-right is-expanded">
              <flat-pickr
                class="input"
                v-model="appointment.startDate"
                :config="date_picker_settings"
              ></flat-pickr>
              <span class="icon is-right">
                <i class="fas fa-calendar"></i>
              </span>
            </div>
            <div class="control has-icons-left">
              <div class="select">
                <select v-model="appointment.startTime">
                  <option value="08:00">08:00 am</option>
                  <option value="08:15">08:15 am</option>
                  <option value="08:30">08:30 am</option>
                  <option value="08:45">08:45 am</option>
                  <option value="09:00">09:00 am</option>
                  <option value="09:15">09:15 am</option>
                  <option value="09:30">09:30 am</option>
                  <option value="09:45">09:45 am</option>
                  <option value="10:00">10:00 am</option>
                  <option value="10:15">10:15 am</option>
                  <option value="10:30">10:30 am</option>
                  <option value="10:45">10:45 am</option>
                  <option value="11:00">11:00 am</option>
                  <option value="11:15">11:15 am</option>
                  <option value="11:30">11:30 am</option>
                  <option value="11:45">11:45 am</option>
                  <option value="12:00">12:00 pm</option>
                  <option value="12:15">12:15 pm</option>
                  <option value="12:30">12:30 pm</option>
                  <option value="12:45">12:45 pm</option>
                  <option value="13:00">1:00 pm</option>
                  <option value="13:15">1:15 pm</option>
                  <option value="13:30">1:30 pm</option>
                  <option value="13:45">1:45 pm</option>
                  <option value="14:00">2:00 pm</option>
                  <option value="14:15">2:15 pm</option>
                  <option value="14:30">2:30 pm</option>
                  <option value="14:45">2:45 pm</option>
                  <option value="15:00">3:00 pm</option>
                  <option value="15:15">3:15 pm</option>
                  <option value="15:30">3:30 pm</option>
                  <option value="15:45">3:45 pm</option>
                  <option value="16:00">4:00 pm</option>
                  <option value="16:15">4:15 pm</option>
                  <option value="16:30">4:30 pm</option>
                  <option value="16:45">4:45 pm</option>
                  <option value="17:00">5:00 pm</option>
                  <option value="17:15">5:15 pm</option>
                  <option value="17:30">5:30 pm</option>
                  <option value="17:45">5:45 pm</option>
                  <option value="18:00">6:00 pm</option>
                  <option value="18:15">6:15 pm</option>
                  <option value="18:30">6:30 pm</option>
                  <option value="18:45">6:45 pm</option>
                  <option value="19:00">7:00 pm</option>
                  <option value="19:15">7:15 pm</option>
                  <option value="19:30">7:30 pm</option>
                  <option value="19:45">7:45 pm</option>
                  <option value="20:00">9:00 pm</option>
                  <option value="20:15">9:15 pm</option>
                  <option value="20:30">9:30 pm</option>
                  <option value="20:45">9:45 pm</option>
                </select>
              </div>
              <span class="icon is-left">
                <i class="fas fa-clock"></i>
              </span>
            </div>
            <div class="control has-icons-left">
              <div class="select">
                <select v-model="appointment.dur">
                  <option value="15">15 min</option>
                  <option value="30">30 min</option>
                  <option value="45">45 min</option>
                  <option value="60">60 min</option>
                  <option value="75">75 min</option>
                  <option value="90">90 min</option>
                  <option value="105">105 min</option>
                  <option value="120">120 min</option>
                </select>
              </div>
              <span class="icon is-left">
                <i class="fas fa-clock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Additional Details: (optional)</label>
            <div class="control">
              <textarea v-model="appointment.additional_details" class="textarea" placeholder="Any additional details..."></textarea>
            </div>
          </div>

          <div class="buttons is-pulled-right">
            <div class="button is-warning" @click="close">Cancel</div>
            <div class="button is-primary" @click="save" :disabled="!appointment.title">Save</div>
          </div>
        </section>

        <event-color-picker v-if="coloring" :colors="colors"></event-color-picker>
    </div>
  </div>
</template>

<script>
  export default {
    props: [ 'patients', 'colors' ],
    data() {
      return {
        baseURL: window.App.baseURL,
        url: '',
        date_picker_settings: {
          altFormat: 'F j, Y',
          altInput: true,
          dateFormat: 'Y-m-d',
        },
        appointment: {
          all_day: false,
          user_id: '',
		  title: '',
          startDate: '',
          startTime: '',
          start: '',
          dur: 15,
          end: '',
          additional_details: null,
        },
        show: false,
        coloring: false,
      }
    },
    created() {
      Event.listen('newEvent', data => this.setModal(data))
      Event.listen('colorPicked', data => this.changeColor(data))
      this.appointment.colorId = this.colors[1].colorId
      this.appointment.colorName = this.colors[1].colorName
      this.appointment.colorString = this.colors[1].colorString
    },
    methods: {
      setModal(data) {
        if(data) {
          this.appointment.startDate = data.startDate
          this.appointment.startTime = data.startTime
          this.appointment.user_id = data.user_id
        }
        this.resetModal()
        this.show = true
      },
      resetModal() {
        this.appointment.colorId = 11
        this.appointment.colorName = 'tomato'
        this.appointment.colorString = '#D50000'
		    this.appointment.all_day = false
		    this.appointment.title = ''
        this.appointment.additional_details = null
        this.start = null
        this.end = null
      },
      close() {
        this.show = false
      },
      startColoring() {
        this.coloring = ! this.coloring
      },
      changeColor(data) {
        this.appointment.colorId = data.colorId
        this.appointment.colorName = data.colorName
        this.appointment.colorString = data.colorString
        this.coloring = false
      },
      save() {
        this.url = `${this.baseURL}/calendar/${this.appointment.user_id}/appointment/create`

        this.appointment.start = moment.utc(this.appointment.startDate + "T" + this.appointment.startTime).format()
        this.appointment.end = moment.utc(this.appointment.start).add(this.appointment.dur, 'm').format()

        // NOTE: This is still using jQuery from fullCalendar
        $('#calendar').fullCalendar('renderEvent', {
          title: this.appointment.title,
          description: this.appointment.additional_details,
          start: moment.utc(this.appointment.start),
          end: moment.utc(this.appointment.start).add(this.appointment.dur, 'm'),
          colorId: this.appointment.colorId,
          color: this.appointment.colorString,
          temp: "true",
        })

        axios.post(this.url, this.appointment)
          .then((response) => {
            $('#calendar').fullCalendar('unselect');
            $('#calendar').fullCalendar('refetchEvents');
          })

        this.show = false
      },
    },
  }
</script>

<style scoped>
.modal-card-head {
  border-radius: 0;
}
.modal-card-title {
  color: #eee;
  font-weight: bold;
}

.color-picker-button {
  height: 30px;
  width: 30px;
  border: 0;
  padding: 0;
}

.button.is-small {
  height: 25px;
  width: 25px;
  padding: 0;
  margin-bottom: 5px;
}

</style>
